*{
    margin: 0px;
    padding: 0px;
    
}
h1{
    text-align: center;
    width: 1550px;
    height: 55px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}
body{
    background-color: rgb(255, 255, 255);
    color: black;
}
div#general{
    margin: auto;
    margin-top: 20px;
    width: 1550px;
    height: 775px;
}
table{
    margin: 0 auto;
}



div#info{
    width: 300px;
    height: 720px;
    display: inline-block;
}
.boton{
    width: 250px;
    height: 50px;
    background-color: chartreuse;
    border-radius: 0px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
.boton:hover{
    background-color: black;
    color: chartreuse;
}

.lista1{
    display: block;
    width: 250px;
    height: 180px;
    line-height: 100%;
    font-family: "Latin Modern Roman 10";
    font-style: oblique;
    font-size: 25px;
}
.lista2{
    display: block;
    width: 250px;
    height: 420px;
    line-height: 100%;
    font-family: "Latin Modern Roman 10";
    font-style: oblique;
    font-size: 24px;
}




div#canva{
    width: 792px;
    height: 720px;
    display: inline-block;
}
#draw{
    
    position: absolute;
    width: 791px;
    height: 620px;
    border: 1px black solid;
    background-color: rgb(0, 0, 0);

}




div#actividades{
    width: 450px;
    height: 720px;
    display: inline-block;
}
.lista{
    display: block;
    width: 440px;
    height: 25px;
    line-height: 100%;
    font-family: "Latin Modern Roman 10";
    font-style: oblique;
    font-size: 19px;
}
